---
layout: layouts/base.njk
title: Page Not Found
permalink: 404.html
---

<section>
    <h1>Page Not Found</h1>
    <p>
        Sorry, we couldn't find the page you were looking for.
    </p>
    <a href="/" role="button">
        Return Home
    </a>
</section>
