---
layout: layouts/base.njk
title: About

eleventyNavigation:
  key: about
  title: About
  order: 2
---

<section>
    <h1>{{ about.title }}</h1>
    {% for paragraph in about.intro %}
        <p>
            {{ paragraph }}
        </p>
    {% endfor %}
    <a
        href="{{ home.hero.primary.href }}"
        role="button"
    >
        {{ home.hero.primary.text }}
    </a>
</section>

<section class="feature">
    <h2>Mission</h2>
    <div class="section__content">
    <p>
        {{ values.mission }}
    </p>
</section>
<section class="feature">
    <h2>Vision</h2>
    <div class="section__content">
    <p>
        {{ values.vision }}
    </p>
</section>

<section class="feature">
<h2>Values</h2>
<div class="grid">
    {% for value in values.values %}
        <article>
            <header><h3>{{ value.title }}</h3></header>
            <p>{{ value.description }}</p>
        </article>
    {% endfor %}
</div>
</section>
