---
layout: layouts/base.njk
title: Contact

eleventyNavigation:
  key: contact
  title: Contact
  order: 4
---

<section class="feature">
    <h1>{{ contact.title }}</h1>
    <p>{{ contact.intro }}</p>
</section>

<section>
    <h2>Contact Information</h2>
    <div class="grid">
        <article>
            <header>Phone</header>
            <a href="tel:{{ site.contact.phone }}">
                {{ site.contact.phone }}
            </a>
        </article>
        <article>
            <header>Email</header>
            <a href="mailto:{{ site.contact.email }}">
                {{ site.contact.email }}
            </a>
        </article>
        <article>
            <header>Address</header>
            <a
              href="https://maps.google.com/?q={{ site.contact.address | urlencode }}"
            >
                <p>{{ site.contact.address }}</p>
            </a>
        </article>
    </div>
</section>

<section>
    <h2>{{ contact.formTitle }}</h2>
    <aside class="callout">
        <p>{{ contact.emergency.body }}</p>
    </aside>
    <form
        name="contact"
        method="POST"
        action="/thanks/"
        data-netlify="true"
        data-netlify-honeypot="bot-field"
    >
        <input
            type="hidden"
            name="form-name"
            value="contact"
        >

        <p hidden>
            <label>
                Don't fill this out if you're human.
                <input name="bot-field">
            </label>
        </p>
        <label>
            Name
            <input
            type="text"
            name="name"
            required
            >
        </label>
        <label>
            Phone
            <input
            type="tel"
            name="phone"
            >
        </label>
        <label>
            Email
            <input
            type="email"
            name="email"
            required
            >
        </label>
        <label>
            Message
            <textarea
            name="message"
            rows="4"
            ></textarea>
        </label>
        <button type="submit">
            Send Message
        </button>
    </form>
</section>
