---
layout: layouts/base.njk
title: FAQ

eleventyNavigation:
  key: faq
  title: FAQs
  order: 3
---

<section>
  <h1>{{ faq.title }}</h1>
  <hr>
  {% for item in faq.items %}
    <details>
        <summary>
            {{ item.question }}
        </summary>
        <p>
            {{ item.answer }}
        </p>
    </details>
    <hr>
  {% endfor %}
</section>
