---
layout: layouts/base.njk
title: Home

eleventyNavigation:
  key: home
  title: Home
  order: 1
---

<section
  class="hero"
  style="--hero-image: url('{{ site.assets.hero }}');"
>
    <h1>{{ home.hero.heading }}</h1>
        <p>
            {{ home.hero.body }}
        </p>
    <div class="button-group">
        <a
            href="{{ home.hero.primary.href }}"
            role="button"
        >
            {{ home.hero.primary.text }}
        </a>
        <a
            href="{{ home.hero.secondary.href }}"
            role="button"
            class="secondary"
        >
            {{ home.hero.secondary.text }}
        </a>
    </div>
</section>

<section class="feature">
    <header class="section__heading">
        <h2>{{ home.about.title }}</h2>
    </header>
    <div class="section__content">
        <p>
            {{ home.about.body }}
        </p>
    </div>
</section>

<section class="feature">
    <header class="section__heading">
        <h2>{{ home.services.title }}</h2>
    </header>
    <div class="section__content">
        <p>
            {{ home.services.body }}
        </p>
        <a
            href="{{ home.services.link.href }}"
            role="button"
            class="secondary"
        >
            {{ home.services.link.text }}
        </a>
    </div>
</section>

<section class="feature">
    <header class="section__heading">
        <h2>{{ home.cta.title }}</h2>
    </header>
    <div class="section__content">
        <p>
            {{ home.cta.body }}
        </p>
        <a
            href="{{ home.cta.button.href }}"
            role="button"
            class="secondary"
        >
            {{ home.cta.button.text }}
        </a>
    </div>
</section>
